.page_wrapper {
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
    color: black;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    margin: 0px;
}

.main_wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

h1 {
    text-align: center;
}

nav {
    width: 300px;
    margin-right: 10px;
}

nav > ul li {
    list-style-type: none;
}

main {
    width: 900px;
}

a {
    color: darkslategrey;
    text-transform: uppercase;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: grey;
}

img {
    width: 500px;
    display: block;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

td {
    text-align: center;
}

.header {
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 50px;
    text-transform: uppercase;

}

.footer {
    border-top: 1px solid black;
    margin-top: 50px;
    padding: 10px;
}

.searchLine {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.buttonInput {
    width: 120px;
    text-align: center;
}

.lineInput {
    flex-grow: 1;
    margin-right: 10px;
}

.buttonHref {
    border: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}

.activeLink {
    color: red;
}

.pageInfoLabel {
    margin-right: 15px;
    margin-left: 15px;
}

.icon {
    width: 50px;
}